@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(./font/stylesheet.css);
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #1B1C21;
  --color-light: #ffffff;
  --color-smoky-white: #F8F8F8;
  --color-smoky-white-2: #EAEAEA;
  --color-dark-gray: #7E7E82;
  --color-light-gray: #80949F;
  --color-slate-gray: #6B7B84;
  --color-pang: #b8ffec;
  --color-light-turquoise: #41F6D7;
  --color-light-cyan: #D9FFF5;
  --color-radical-red: #FF3E79;
  --border-radius-2: 20px;
  --border-radius: 6px;
  --border: 2px solid var(--color-pang);
  --font-family-base: "TT Lakes", sans-serif;
  --input-height: 40px;
  --group-input-height: 24px;
  --container-width: 1057.35px;
  --container-padding-x: 15px;
  --transition-duration: .3s;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: var(--font-family-base);
  transition: all 0.3s;
}

html {
  overflow-x: hidden;
}

body {
  width: 320px;
  height: 1024px;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.button {
  background-color: var(--color-radical-red);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.button span {
  height: 2px;
  width: 10px;
  right: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  background-color: var(--color-light);
  border-radius: 1px;
}

.button span:nth-child(1) {
  width: 18px;
  transform: translate(-50%, -50%) translateY(-8px);
}

.button span:nth-child(2) {
  width: 14px;
  transform: translate(-50%, -50%) translateY(8px);
  margin-left: -2px;
}

.button span:nth-child(3),
.button span:nth-child(4),
.button span:nth-child(1),
.button span:nth-child(2) {
  transition: 0.5s ease;
}

.button:hover span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button span:nth-child(3),
.button span:nth-child(4) {
  margin-left: -4px;
}

.button:hover span:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button:hover span:nth-child(3),
.button:hover span:nth-child(4) {
  width: 22px;
  height: 2px;
  margin-left: 0px;
}

.button:hover span:nth-child(1) {
  transform: translate(-50%, -1000%);
  opacity: 0;
}

.button:hover span:nth-child(2) {
  transform: translate(-50%, 1000%);
  opacity: 0;
}

.container,
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline-start: 24px;
  margin-inline-end: 24px;
  margin-block-start: 23px;
  margin-block-end: 46px;
  padding-block-start: 23px;
}

.block-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-radical-red);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 23px;
}

nav {
  margin-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 196px;
  margin-inline-end: 0;
  justify-content: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-item {
  display: flex;
  align-items: center;
}

.btn-danger {
  display: flex;
  position: relative;
  transition: all 250ms ease;
  overflow: hidden;
  gap: 20px;
  align-items: center;
  margin-left: -4px;
}

.btn-danger:focus {
  margin-left: 0px;
  color: var(--color-dark-gray);
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--color-dark);
}

.container-2 {
  display: flex;
  margin-inline-start: 24px;
  flex-direction: column;
}

.footer {
  display: flex;
  gap: 16px;
  margin-block-end: 16px;
}

.button__footer {
  display: flex;
  background-color: var(--color-radical-red);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.tel {
  margin-top: 12px;
  font-size: 24px;
}

.block {
  display: block;
}

.block-3 {
  display: block;
  margin-block-start: 40px;
}

.block-3__link:focus {
  color: var(--color-dark-gray);
}/*# sourceMappingURL=index.css.map */